body {
  text-align: center;
  font-family: courier;
}

textarea {
  width: 99vw;
  height: 2.5rem;
  border: none;
  font-family: courier, italic;
}

.italics {
  font-style: italic;
}

.header-textareas {
  text-align: left;
  font-size: 14pt;
  font-weight: bold;
}
